* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-1);
  box-sizing: border-box;

  font-size: 14px;
  line-height: 1.5;
  color: var(--text-primary);
  word-wrap: break-word;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

:root {
  --background-1: #22272e;
  --background-2: #2d333b;
  --background-button: #373e47;
  --background-tag: rgba(65, 132, 228, 0.2);
  --border: #444c56;
  --border-button: #444c56;
  --border-login: #d1d5da;
  --text-primary: #adbac7;
  --text-link: #539bf5;
  --text-white: #fff;
}
