.container {
  display: flex;
  margin-top: 24px;

  .repoList {
    margin: 0 auto;
    padding: 24px 0;
    list-style: none;

    h3 {
      font-weight: 600;
      font-size: 20px;

      padding-bottom: 16px;
      border-bottom: 1px solid var(--border);
    }

    li {
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--border);

      a {
        font-weight: 400;
        font-size: 16px;
        color: var(--text-link);
      }

      p {
        padding-top: 3px;
      }

      .repoHeader {
        display: flex;
      }

      .tags {
        list-style: none;
        display: flex;
        margin-left: 10px;

        li {
          padding: 0 10px;
          margin: 0 5px;
          border: 1px solid transparent;
          background: var(--background-tag);
          border-radius: 2em;
          display: flex;
          align-items: center;

          button {
            display: none;
          }

          .deleteTag {
            display: inline;
            background: local;
            font-weight: bold;
            border: 0;
            padding: 0;
          }

          .hidden {
            display: none;
          }

          input {
            border: 0;
            width: 5em;
            background: inherit;
            padding: 0;
            font-size: inherit;
          }
        }
      }

      button {
        margin-left: auto;
        margin-right: 9px;
        background: var(--background-button);

        padding: 3px 12px;
        font-size: 12px;
        line-height: 20px;
        border: 1px solid var(--border-button);
        border-radius: 6px;
      }

      .popup {
        position: relative;

        input {
          width: 100px;
          height: 28px;
          border-radius: 6px;
          border: 0;

          text-align: center;

          position: absolute;
          right: 0;
          top: -70px;
        }
      }
    }
  }
}
