.container {
  display: flex;
  margin-top: 24px;

  .repoList {
    margin: 0 auto;
    padding: 24px 0;
    list-style: none;

    h3 {
      font-weight: 600;
      font-size: 20px;

      padding-bottom: 16px;
      border-bottom: 1px solid var(--border);
    }

    li {
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--border);

      a {
        font-weight: 400;
        font-size: 16px;
        color: var(--text-link);
      }
    }
  }
}
